/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

a{
    color: var(--primary);
    text-decoration: none;
}

li{
    list-style-type: none;
}

/* Variables */
:root{
    --primary: #fff;
    --secondary: #000;
    --fz_nav_link: 14px;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* Header */
header{
    width: 100%;
    background-color: var(--secondary);
}

header nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 10px;
    margin: auto;
}
.icon__header i{
    color: var(--primary);
}
ul.navigation__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

li.link__navigation{
    font-size: var(--fz_nav_link);
}

/* Main */



/* Footer */
.icon{
    color: var(--secondary)
}
img{
    width: 100px;
    height: 100px;
}