/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

a{
    color: var(--primary);
    text-decoration: none;
}

li{
    list-style-type: none;
}

/* Variables */
:root{
    --primary: #fff;
    --secondary: #000;
    --fz_nav_link: 14px;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/* Header */
header{
    width: 100%;
    height: 40px;
    padding: 2.5px 0;
    background-color: var(--secondary);
}

header nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 10px;
    margin: auto;
}
.icon__header i{
    color: var(--primary);
}
ul.navigation__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

li.link__navigation{
    font-size: var(--fz_nav_link);
}

/* Main */
main{
    width: 100%;
    height: 100%;
}
.home__main{
    width: 100%;
    height: 86.9vh;
}
.banner__home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--secondary);
    color: var(--primary);
    position: relative;
}
.text__banner{
    width: 80%;
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
}
.text__banner p{
    display: inline-block;
    margin-top: 30px;
}
.icon__banner{
    position: absolute;
    opacity: 0.1;
}
.icon__banner i{
    font-size: 200px;
}

/* Footer */
.icon{
    color: var(--secondary)
}
img{
    width: 100px;
    height: 100px;
}


/* Media Queries */
/*
@media (min-width: 500px){
    .responsive_menu{
        cursor: pointer;
    }
    .responsive_menu i{
        color: var(--primary);
    }
    ul.navigation__header{
        display: none;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        position: absolute;
        right: -100px;
        background-color: rgba(0,0,0,0.9);
        height: 93.4vh;
        padding: 20px;    
    }
}
*/