/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: var(--secondary);
    text-decoration: none;
}

li{
    list-style-type: none;
}

/* Variables */
:root{
    --primary: #fff;
    --secondary: #000;
    --fz_nav_link: 14px;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/* Header */
header{
    width: 100%;
    position: fixed;
    padding: 2.5px 0;
}

header nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--secondary);
}
.icon__header i{
    transform: scaleX(1.5) scaleY(1.3);
}
.responsive_menu{
    display: none;
}
ul.navigation__header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    gap: 15px;
}

li.link__navigation{
    font-size: var(--fz_nav_link);
    font-weight: 600;
}

/* Main */
main{
    width: 100%;
    height: 100%;
}
.home__main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: var(--primary);
    background-color: var(--secondary);
}
.banner__home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}
.text__banner{
    width: 80%;
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
}
.text__banner p{
    display: inline-block;
    margin-top: 30px;
}
.icon__banner{
    position: absolute;
    opacity: 0.1;
}
.icon__banner i{
    font-size: 200px;
}
.icon__indicator{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.indicator, .indicator_2{
    font-size: 20px;
    color: var(--primary);
    transform: rotate(-90deg) scale(2);
}

span.indicator_2{
    position: absolute;
    animation: jump 1s infinite ease-in-out;
}

@keyframes jump{
    0%, 100%{
        transform: rotate(-90deg) scale(2);
    }
    50%{
        transform: translateY(-10px) rotate(-90deg) scale(2);
        opacity: 0.5;
    }
}

/* Footer */
.icon{
    color: var(--secondary)
}
img{
    width: 100px;
    height: 100px;
}


/* Media Queries */
/*
@media (min-width: 465px){
    .responsive_menu{
        cursor: pointer;
    }
    .responsive_menu i{
        display: flex;
        color: var(--secondary);
    }
    ul.navigation__header{
        display: none;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        position: absolute;
        right: -100px;
        background-color: rgba(0,0,0,0.9);
        height: 93.4vh;
        padding: 20px;    
    }
}
*/